* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #fff;
    --text-color: #575455;
    --black-color: #000;
    --red-color: #F75C4E;
    --dark-gray: #070F18;
    --purple-button-color: #1F7CFF;
    --gray-button-color:  #F5F6FB;    
}

@font-face {
    font-family: 'Poppins';
    src: url(../Fonts/Poppins/Poppins-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url(../Fonts/Poppins/Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url(../Fonts/Poppins/Poppins-Regular.ttf);
    font-weight: 400;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section {
    min-height: 100vh;
    /* padding:  */
}

header {
    padding: 4rem 9% 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header .logo img {
    margin-right: 1.2rem;

}

header .logo h2 {
    font-weight: 600;
    font-size: 2.8rem;
    color: var(--dark-gray);
}

header .navbar a {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--dark-gray);
    padding: 3rem;
}

header .navbar a.active {
    font-weight: 600;  
} 

header .navbar a:hover {
    color: var(--red-color)
}

header a.btn-1 {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--dark-gray);
    background: var(--gray-button-color);
    padding: 16px 48px;
    border-radius: 5rem;
    transition: 0.5s ease;
}

header a.btn-1:hover {
    background: var(--red-color);
    color: white;
}