* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #fff;
    --text-color: #575455;
    --black-color: #000;
    --red-color: #F75C4E;
    --dark-gray: #070F18;
}

@font-face {
    font-family: 'Poppins';
    src: url(../Fonts/Poppins/Poppins-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url(../Fonts/Poppins/Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url(../Fonts/Poppins/Poppins-Regular.ttf);
    font-weight: 400;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    overflow-x: hidden;

}

body {
    background: var(--bg-color);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}